.header {
    background: #87ceeb;
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 1%;
    top: 0;
    z-index: 1000;
    
}
body {
    font-family: Arial, sans-serif;
    background-color: #87ceeb;
    color: #c72d2d;
    margin: 0;
    padding: 0; 
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #fcfeff;
    font-size: 24px;
    margin-bottom: 20px;
}

.blog-category {
    margin-bottom: 40px;
}

.blog-category h2 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 15px;
}

.blog-post {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    overflow: hidden;
}

.blog-post img {
    width: 400px;
    height: 200px;
    margin-right: 20px;
    border-radius: 8px;
    background-color: #f0f0f0;
}

.blog-post h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #007bb5;
}

.blog-post a {
    text-decoration: none;
    color: #007bb5;
    font-size: 14px;
    margin-top: 5px;
}

.blog-post a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .blog-post {
        flex-direction: column;
        align-items: center;
    }

    .blog-post img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .blog-post h3, .blog-post a {
        text-align: center;
    }
}
